{% extends 'base.html' %}


{% block title %}
{{ user_det.nickname }}
{% endblock %}

{% block body %}
<h1>{{ user_det.nickname }}</h1>

    <div class="alert alert-info" >
        <p>{{ user_det.nickname }}</p>
        <p>{{ user_det.first_name }}</p>
        <p>{{ user_det.last_name }}</p>
        <p>{{ user_det.gender }}</p>
        <p>{{ user_det.birthday }}</p>
        <a href="/users/{{ user_det.user_id }}/delete" class="btn btn-danger"> Delete </a>
        <a href="/users/{{ user_det.user_id }}/update" class="btn btn-success"> Update </a>
    </div>
{% endblock %}